
div.container-fluid-n
{
    position: relative;
    display: inline-block;
    text-align: center;
    background-color:#2e3c50;
    max-height:200px;
    width: 100%;
} 

div.container-fluid-n h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

div.carousel-inner{
  max-width:2000px;
  max-height:200px;
  padding: 0% 10%;
  
 
}

div.carousel-inner img{
  object-fit: cover;
  width:100%;
  height:100%;
  
}

div.logo {
    width:200px;
    position:absolute;
    top: 30%;
    left: 0%;
}


div.navbar{left: 30%;}


/* IMAGEN DE MASCOTA*/
div.bg-login-image{
    background-image:url("../img/mascotas.png");
    background-position: center;
    background-size: cover;
    border: 2px;
    height: 400px;
    padding:10% 10%;
}

/* FONDO DE EL LOGO*/
div.bg-login-color{
    background-color:#2e3c50;
    color:white;
}



div.footer{
    
    width:100%;
    padding:50px 0px;
    background-image:url("../img/footer1.png");
    background-size: cover;

}
div.container_footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    max-width: 1200px;
    max-hight:300px;
        margin: auto;
    margin-top:100px;
}

div.box_footer{
    display:flex;
    flex-direction:column;
    padding: 40px;

}

div.terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:#7a7a7a;
    font-size: 18px;
}
div.box_footer h2{
    margin-bottom: 30px;
    color:#343434;
    font-weight:700;
}
div.box_footer a{
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 600;
}
div.box_footer a:hover
{
    opacity:0.8;
}
div.box_footer a .fab{
    font-size:20px;
}